.p-baner-esp{
    display: none;
    background-image: url(./banerespatulas.png);
    background-size: cover;
    height: 400px;
    width: 100%;
}
.p-card-espatulas{
    color: var(--cafemasoscuro-color);
    text-align: center;
    background-color: rgba(93, 103, 236, 0.288);
    padding: 5px;
   
}
.p-card-espatulas img{
    width: 98%;
    height: 300px;
}
.p-container{
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

@media screen and  (min-width: 768px){
    .p-baner-esp{
        display: block;
}
.p-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

}
@media screen and  (min-width: 1000px){
    .p-container{
        display: grid;
        grid-template-columns:auto auto auto ;
        gap: 5rem;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
}