@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/*rules : font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo 2', cursive;
}

:root{
   --negro-color:#191919;
   --blanco-color:#ffffff;
   --cafeoscuro-color:#572612;
   --cafemasoscuro-color:#301309;
   --amarillo-color: #F9D544; 
}
/*------------------SLIDER-----------------------*/
#slider{
    margin:0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;

}
#slider input[type=radio]{
    display: none;
}
#slider label{
    cursor: pointer;
}

#slider1:checked ~ #slides .inner {
margin-left: 0;
}
#slider2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slider3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slider4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slides .inner{
    width:400%; /*Esta medida epende de la cantidad de slides que tengo, en este caso son 4 por eso es 400%*/
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-left 1.4s cubic-bezier(.19,.67,.83,.67) ;

}
#slides .slide{
    width: 100%;/*Esta medida epende de la cantidad de slides que tengo, en este caso son 4 a si que los manejo por un 25%*/
    height: 100%;
}

/*Ahora personalizamos cada slide*/
#slides .slide_1{
    background-image: url(./images/baner1.png);
    background-size: cover;
}
#slides .slide_2{
    width: 100%;
    background-image: url(./images/baner2.png);
    background-size: cover;
}
#slides .slide_3{
    background-image: url(./images/baner3.png);
    background-size: cover;
}
#slides .slide_4{
    background-image: url(./images/baner4.png);
    background-size: cover;
}
.slide-contenido{
    width: 40%;
    padding: 10px;
   text-align: center;
    position: relative;
    top: 30%;  
    left: 20%;
    margin: 0 auto;
    background-color: #f0e9e9a8;
    
}
.slide-contenido h1{
    font-size: 18px;
}
.slide-contenido p{
    font-size: 12px;
}
.controles{
    width:50px;
    height: 50px;
    display: none;
}
.bullets{
    display: flex;
text-align: center;
justify-content: center;
align-items: center;

}
.bullets label{
    padding: 2px;
    width:5px;
    height: 5px;
    background-color:var(--amarillo-color);
    margin: 1rem;
    border-radius: 100%;
}
#slider1:checked ~ .bullets label:nth-child(1),
#slider2:checked ~ .bullets label:nth-child(2),
#slider3:checked ~ .bullets label:nth-child(3),
#slider4:checked ~ .bullets label:nth-child(4){
    background-color:var(--cafeoscuro-color);
}
/*Seccion Galeria (INDEX)*/
.i-index-sec{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content:space-evenly;
}
.i-img-galeria{
    display: none;
}
.i-img-galeria img{
    width: 250px;
}
.i-img-galeria-one img{
    width: 130px;
    height: 130px;
}
.i-titulo-sec  a, h1{
    font-family: 'Baloo 2', cursive;
    font-size: 25px;
    color: var(--cafeoscuro-color);
    text-decoration: none;
}
.i-titulo-sec h3{
    color: var(--cafeoscuro-color);
}
.i-titulo-sec:hover{
    
    background-color:#f9d54463;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 50px 0  ;
}
.contenedor figure{
    position: relative;
    height: 130px;
    width: 170px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(29, 28, 28, 50);
    cursor: pointer;
}
.contenedor figure img{
    width: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(250, 225, 189, 0.842);
    transition: all 500ms ease-out;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    
}

.contenedor figure:hover>.capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover .capa h1{
margin-top: 20px;
margin-bottom: 15px;
}
.contenedor figure .capa h1{
    color:var(--cafemasoscuro-color);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    transition: all 500ms ease-out;
    margin-top: 15px;
}
.contenedor figure .capa p{
    color:var(--cafeoscuro-color);
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin:auto;

}
.contenedor figure:hover> img{
    transform: scale(1.3);
}
.link{
text-decoration: none;
}

.i-index-sec-talleres{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
@media screen and (min-width:700px){
    .i-index-sec{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .i-img-galeria{
        display: flex;
    }
    .i-img-galeria-one img{
        width: 230px;
        height: 230px;
    }
    .i-img-galeria img{
        width: 230px;
        height: 230px;
    }
    .i-titulo-sec  a, h1{
        font-size: 32px;
    } 
    .contenedor figure{
        position: relative;
        height: 250px;
        width: 250px;
    }
    .contenedor figure .capa h1{
        font-size: 18px;
           font-weight: 700;
           margin-bottom: 120px;
       
       }
       .contenedor figure .capa p{
           color:var(--cafeoscuro-color);
           font-size: 15px;
       }
       .i-index-sec-talleres{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .slide-contenido h1{
        font-size: 25px;
    }
    .slide-contenido p{
        font-size: 16px;
    }
}
@media screen and (min-width:1000px){
    .i-index-sec{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .i-index-sec-talleres{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .i-img-galeria{
        display: flex;
    }
    .i-img-galeria-one img{
        width: 330px;
        height: 330px;
    }
    .i-img-galeria img{
        width: 330px;
        height: 330px;
    }
    .i-titulo-sec  a, h1{
        font-size: 40px;
 
    } 
    .i-titulo-sec h3{
        font-size: 28px;
    }
    .contenedor figure{
        position: relative;
        height: 250px;
        width: 300px;
    }
    .contenedor figure .capa h1{
        font-size: 25px;
           font-weight: 700;
           margin-bottom: 120px;
       
       }
       .contenedor figure .capa p{
           color:var(--cafeoscuro-color);
           font-size: 20px;
       }
       .slide-contenido h1{
        font-size: 30px;
    }
    .slide-contenido p{
        font-size: 20px;
        font-weight: 700;
    }
    .bullets label{
        padding: 3px;
        width:15px;
        height: 15px;}

      
}