*{
    box-sizing: border-box;
}
:root{
    --negro-color:#191919;
    --blanco-color:#ffffff;
    --cafeoscuro-color:#572612;
    --cafemasoscuro-color:#301309;
    --amarillo-color: #F9D544; 
  }
.t-titulo-tall p{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

main{
    background-image: url(./talleresimgnes.png);
    background-size: cover;
    width: 97%;
    padding: 40px;
    margin: 30px auto;
  
}
main h1{
    text-align: center;
    color: var(--cafemasoscuro-color);
    font-size: 50px;
    font-weight: 700;

}
.inputs{
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
  
}

.inte-moda{
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 700;
    color:#301309;
    justify-content: center;
    align-items: center;
    width: 70%;
    grid-column: span 2;
    text-align: center;
   
   

}
.t-titulo-tall  p{
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    
    color: var(--cafemasoscuro-color);
    border-radius: 25px;
}

@media screen and (min-width:700px){
.t-titulo-tall  p{
        font-size: 20px;
        font-weight: 700;
        font-size: 25px;
    }
    .inputs{
        display: grid;
        grid-template-columns: auto auto;
        width: 80vw;
      
    }
}
@media screen and (min-width:1000px){
.t-titulo-tall p{
        font-size: 20px;
        font-weight: 700;
    }
}

