*{
    box-sizing: border-box;
}
:root{
    --negro-color:#191919;
    --blanco-color:#ffffff;
    --cafeoscuro-color:#572612;
    --cafemasoscuro-color:#301309;
    --amarillo-color: #F9D544; 
  }
.t-titulo-tall p{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

main{
   
    background-size: cover;
    width: 97%;
    padding: 40px;
    margin: 30px auto;
  
}
main h1{
    text-align: center;
    color: var(--cafemasoscuro-color);
    font-size: 50px;
    font-weight: 700;

}
.inputs{
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
  
}
.pri-sec-tit h2{
    color: var(--cafeoscuro-color);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    background-color: #F9D544;
    padding: 10px;
}
.inte-moda{
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 700;
    color:#301309;
    justify-content: center;
    align-items: center;
    width: 70%;
    grid-column: span 2;
    text-align: center;
   
   

}
.t-titulo-tall  p{
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    
    color: var(--cafemasoscuro-color);
    border-radius: 25px;
}
 .pri-sec-tall{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    
}
.pri-sec-tit h3{
    color:var(--cafemasoscuro-color);
    font-size: 16px;
    font-weight: 500;
}
.pri-sec-tit{
    width: 600px;
    text-align: left;
    margin-right: 1px;
    padding: 10px;
}
.pri-sec-tit h1{
    text-align: left;
}
.pri-sec-img img{
    width: 300px;
}
.pincel-talleres{
    margin-left: 10px;
    animation-name: pen;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}
@keyframes pen{
    0%{
        transform: rotateZ(8deg);

    }
    60%{
        transform: rotateZ(-8deg) ;
    }
    100%{
        transform: rotateZ(8deg);}
}
.list-talleres{
    display: flex;
}
@media screen and (min-width:700px){
.t-titulo-tall  p{
        font-size: 20px;
        font-weight: 700;
        font-size: 25px;
    }
    .inputs{
        display: grid;
        grid-template-columns: auto auto;
        width: 80vw;
      
    }
    .pri-sec-tit{
        width: 600px;
        text-align: left;
        margin-right: 10px;
    }
    .pri-sec-tall{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .pri-sec-tall{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .pri-sec-img img{
        width: 400px;
    }
 
    .pri-sec-tit h3{
        color:var(--cafemasoscuro-color);
        font-size: 16px;
    }
    .pri-sec-tit h3{
        color:var(--cafemasoscuro-color);
        font-size: 16px;
    }

}
@media screen and (min-width:1000px){
.t-titulo-tall p{
        font-size: 20px;
        font-weight: 700;
    }
    .pri-sec-tall{
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .pri-sec-img img{
        width: 500px;
    }
    .pri-sec-tit h2{
        font-size: 50px;
        padding: 10px;
    }
    .pri-sec-tit h3{
        color:var(--cafemasoscuro-color);
        font-size: 23px;
        margin-right: 10px;
    }
}

