@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --negro-color:#191919;
  --blanco-color:#ffffff;
  --cafeoscuro-color:#572612;
  --cafemasoscuro-color:#301309;
  --amarillo-color: #F9D544; 
}
body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  color: var(--cafeoscuro-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}